In [2]:
ciudades=["cancún", "miami", "positano", "amsterdam","sidney"]
print(ciudades)

['cancún', 'miami', 'positano', 'amsterdam', 'sidney']

In [6]:
ciudades[1]

'miami'

In [7]:
ciudades[1:4]

['miami', 'positano', 'amsterdam']

In [9]:
ciudades.append("barcelona")
print(ciudades)
ciudades.append("miami")
print(ciudades)

['cancún', 'miami', 'positano', 'amsterdam', 'sidney', 'barcelona', 'barcelona']
['cancún', 'miami', 'positano', 'amsterdam', 'sidney', 'barcelona', 'barcelona', 'miami']

In [10]:
ciudades.insert(3,"oslo")
print(ciudades)

['cancún', 'miami', 'positano', 'oslo', 'amsterdam', 'sidney', 'barcelona', 'barcelona', 'miami']

In [11]:
numeros=[1,2,3]
ciudades.extend(numeros)
print(ciudades)

['cancún', 'miami', 'positano', 'oslo', 'amsterdam', 'sidney', 'barcelona', 'barcelona', 'miami', 1, 2, 3]

In [12]:
num=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [14]:
num[9:15]

(10, 11, 12, 13, 14, 15)

In [21]:
num=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
num1 , num2, num3, *otros=num
print(num1)
print(num2)
print(num3)

1
2
3

In [32]:
ciudades=["cancún", "miami", "positano", "amsterdam","sidney"]
geografía= {"ciudad":(ciudades),  
           "país":["méxico", "EEUU","italia","alemania","autralia"],
           "continente": ["america", "america","europa","europa", "oceanía"]}
           
print(geografía)

{'ciudad': ['cancún', 'miami', 'positano', 'amsterdam', 'sidney'], 'país': ['méxico', 'EEUU', 'italia', 'alemania', 'autralia'], 'continente': ['america', 'america', 'europa', 'europa', 'oceanía']}

In [33]:
geografía.keys()

dict_keys(['ciudad', 'país', 'continente'])

In [35]:
geografía.get("ciudad")

['cancún', 'miami', 'positano', 'amsterdam', 'sidney']

In [44]:
num_entero= 6
if num_entero > 0:
    print("el número es mayor a cero.")
else:
    print("el número es menor a cero.")

el número es mayor a cero.

In [50]:
variable_1= "Perro"
variable_2= 3
if (variable_1==variable_2):
    print("son el mismo tipo de dato")
else:
    print("son distinto tipo de dato")

son distinto tipo de dato

In [56]:
for num in range (1,21):
    if num %2 == 0:
        print(num, "es número par")
    else:
        print(num, "es número impar")

1 es número impar
2 es número par
3 es número impar
4 es número par
5 es número impar
6 es número par
7 es número impar
8 es número par
9 es número impar
10 es número par
11 es número impar
12 es número par
13 es número impar
14 es número par
15 es número impar
16 es número par
17 es número impar
18 es número par
19 es número impar
20 es número par

In [57]:
for i in range(0,6):
    print(i**3)

0
1
8
27
64
125

In [66]:
mi_variable= 6
for i in range(mi_variable):
    print(i)
    if i >= mi_variable:
        break

0
1
2
3
4
5

In [91]:
variable_3= 4
if isinstance(variable_3,int) and variable_3>0:
    factorial=1
    contador=1
    while contador<=variable_3:
        factorial*=contador
        contador += 1
        print("el factorial de", variable_3,"es:",factorial)
else:
    print("el numero no es un entero mayor a 0")

el factorial de 4 es: 1
el factorial de 4 es: 2
el factorial de 4 es: 6
el factorial de 4 es: 24

In [94]:
numero=100
while numero <= 300:
    if numero % 12 !=0:
        numero +=1
        continue
    print(numero)
    numero +=1

108
120
132
144
156
168
180
192
204
216
228
240
252
264
276
288
300

In [98]:
cadena= "hola mundo. esto es una práctica de lenguaje de programación Python"
buscar="n"
posiciones=[]
for i in range(len(cadena)):
    if cadena[i] == buscar:
        posiciones.append(i)
print("la letra n aparece en las siguientes posiciones: ")
print(posiciones)

la letra n aparece en las siguientes posiciones:
[7, 21, 38, 59, 66]

In [100]:
list[cadena]

list['hola mundo. esto es una práctica de lenguaje de programación Python']

In [105]:
for i in cadena:
    print(i)

h
o
l
a

m
u
n
d
o
.

e
s
t
o

e
s

u
n
a

p
r
á
c
t
i
c
a

d
e

l
e
n
g
u
a
j
e

d
e

p
r
o
g
r
a
m
a
c
i
ó
n

P
y
t
h
o
n